.loadingImage {
  margin-top: 80%;
  margin-left: 35%;
  margin-bottom: 50%;
  color: red;
}

/* Styles specific to MovieList context */
.image-container.movie-list {
  border: none;
  margin-bottom: 4px;
}

.image-container.movie-list img {
  max-width: 100%;
}

/* Styles specific to MovieDetails context */
.image-container.movie-details-image {
  width: fit-content;
  border: 5px #fff solid !important;
}

.image-container.movie-details-image img {
  max-width: 340px;
}

/* tablet RESPONSIVE */
@media only screen and (max-width: 768px) {
  .image-container.movie-details-image {
    max-width: fit-content;
  }

  .image-container.movie-details-image img {
    max-width: 240px;
  }
}

/* Mobile responsive */
@media only screen and (max-width: 450px) {
  .image-container.movie-details-image {
    border: none !important;
  }

  .image-container.movie-details-image img {
    max-width: 100%;
  }
}

/* Common styles for both contexts */
.image-container {
  position: relative;
}

@media only screen and (max-height: 1024px) {
  .image-container.movie-details-image {
    margin-top: 1rem;
  }
}
