.menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.movie-card {
  width: 25%;
  position: relative;
  display: flex;
}

.movie-card a {
  color: #ffffff;
  text-decoration: none;
}

.movie-card img {
  width: 100%;
  overflow: clip;
}

.movie-details {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  z-index: 10;
}

.movie-details:hover {
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
  transition: all 0.2s;
}

.text-margin {
  margin: 10px 0px;
}

/* Mobile responsive */
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .movie-card {
    width: 50%;
  }

  .menu {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*Mobiles 360px and down*/
@media only screen and (max-width: 360px) {
  .container {
    flex-direction: column;
  }

  .movie-card {
    width: 100%;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) {
  .movie-card {
    width: 33.33%;
  }
}

/* (laptops/desktops, 992px and up) */
@media only screen and (min-width: 820px) {
  .movie-card {
    width: 25%;
  }
}
